<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
</head>
<body>
    <h1>Create a new message</h1>
    <form id="newMessage" method="POST" action="/messages/new">
        <input type="text" name="author"> <input type="text" name="message">
        <button type="submit" form="newMessage">Submit</button>
    </form>
</body>
</html>